.sidebar {
  width: 200px;
  background: #164a8214;
  padding: 10px;
  min-height: 100vh;
  color: #164b82;
  /* box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2); */
  border-radius: 0 16px 16px 0; /* rounded right corners */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar h3 {
  font-size: 1.5rem;

  text-align: start;
  letter-spacing: 1px;
  color: #0a3f75;
}

.create_button_control{
  margin-top: -30px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav li {
  margin: 12px 0;
}

.sidebar nav a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: black;
  padding: 10px 12px;
  font-weight: 500;
}

.sidebar button {
  width: 100%;
  padding: 10px;
  background: white;
  border: none;
  border-radius: 8px;
  color: #555;
  font-weight: bold;
  cursor: pointer;
}

.sidebar button:hover {
  background: #6ca0d53f;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  gap: 6px;
  border-bottom: 2px solid transparent; /* invisible by default */
  transition: border-color 0.5s ease, color 0.5s ease;
}

.sidebar ul li a.active {
  border-bottom: 1px solid #007bff; 
  
}