.taskform_container {
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 2rem;
  border: none;
  position: relative;
  align-items: center;
}

.taskform_control {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.taskform_title {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  margin: 0 auto !important;
  color: #333;
  width: 150px;
  border-bottom: 2px solid #ccc;
  display: block;
  padding-bottom: 1rem;
}

/* Input fields */
/* Inputs, textarea, select */
.title_input_control input,
.description_input_control textarea,
.work_flow_control select,
.date_select_control input {
  /* width: 300px; */
  padding: 0.6rem 0.8rem;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 0.95rem;
  outline: none;
  transition: border 0.2s ease-in-out;
}

.work_flow_control select {
  width: 300px;
  appearance: none; /* removes default arrow (Chrome, Safari) */
  -moz-appearance: none; /* Firefox */
  -ms-appearance: none; /* IE/Edge */
  background-color: white;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}
.date_select_control input {
  width: 300px;
}

.title_input_control input:focus,
.description_input_control textarea:focus,
.work_flow_control select:focus,
.date_select_control input:focus {
  border-color: #164b82;
  box-shadow: 0 0 0 1px #164a82ac;
}

/* Labels */
.title_input_control label,
.description_input_control label,
.work_flow_control label,
.date_select_control label {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 6px;
  color: #333;
  text-align: start;
}

/* Textarea */
.taskform_container textarea {
  resize: none;
  min-height: 80px;
}

/* Button */
.taskform_container button {
  display: inline-block;
  background-color: #164b82;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 40px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  position: absolute;
  top: 25px;
  right: 20px;
}

.taskform_container button:hover {
  background-color: #164b82;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
